services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./static:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    build: ./app
    environment:
      - OSC_TARGET_IP=host.docker.internal
      - OSC_TARGET_PORT=12345
    extra_hosts:
      - "host.docker.internal:host-gateway"