
# Root .gitignore (global ignores and shared config)

# VS Code
.vscode/
*.code-workspace

# Mac OS
.DS_Store
Thumbs.db

# Local/secret config
src/main/resources/local.properties
src/main/resources/secrets.properties

# Python global cache (for all subprojects)
.mypy_cache/

# Ignore JetBrains project files globally
.idea/

