[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi[standard]>=0.128.0",
    "jinja2>=3.1.6",
    "python-multipart>=0.0.22",
    "python-osc>=1.9.3",
    "uvicorn>=0.40.0",
]
