appdirs==1.4.4
autopep8==2.3.2
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
Flask==3.1.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jpype1==1.6.0
line_profiler==5.0.0
lxml==6.0.2
MarkupSafe==3.0.3
numpy==2.3.3
packaging==25.0
pillow==11.3.0
py5==0.10.7a0
pycodestyle==2.14.0
pyshark==0.6
pywin32==311
requests==2.32.5
stackprinter==0.2.12
termcolor==3.1.0
urllib3==2.5.0
Werkzeug==3.1.3
