# 起動した瞬間に debug window を表示しておくか否か
DEBUG_MODE = false
# 展示用のフルスクリーンモードを使用するかどうか
FULL_SCREEN_MODE = true
# それぞれのウィンドウを表示するディスプレイ番号(1, 2, 3, ...)
MAIN_DISPLAY  = 2
DEBUG_DISPLAY = 1
# OSCを待ち受けるポート
LISTENING_PORT = 12345
# プライベートIPアドレスとして判定し画面右側に表示するIPアドレス
TARGET_PREFIXES = 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
# 画面で用いるフォント
FONT_NAME = BIZ UDPゴシック